*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 2%;
}

html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.header{
    height: 200px;
    padding:20px 0;
}

.logo{
    width: 65%;
    margin-top: 10px;
}

.menu{
    padding-top: 30px;
    width: 30%;
    text-align: right;
}

.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px;
    margin: 5px;
    padding: 4%;
}

.extras{
    position: absolute;
    margin-top: 100px;
    right: -250px;
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: #E50914;
}

.extras img{
    position: absolute;
    margin-left: 120px;
    margin-top: 50px;
}

.imagem1 
{
    transition: all;
    cursor: pointer;
}

.imagem1:hover
{
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.extras p{
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: absolute;
    margin-left: 90px;
    margin-top: 330px;
    text-align: center;
}

.texto-sobre{
    margin-top: 100px;
    left: -100px;
}

.texto-sobre h1{
    font-size: 45px;
    color: white;
}

.texto-sobre p{
    margin-left:-10px;
    margin-top: 10px;
    color: white;
    font-weight: bold;
}

.texto-sobre button{
    border: 0;
    background-color: #E50914;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 0px;
}

.posteres img{
    margin-left: 50px;
    margin: 3.5%;
}

.imagem2
{
    transition: all 0.5s;
    cursor: pointer;
}
.imagem2:hover
{
    -webkit-transform: scale(1.5);
    transform: 1.5;
}
